*{
  margin: 0;
  padding: 0;
}
.App{
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  background: url('./Images/Pink\ Red\ Modern\ Night\ City\ Desktop\ Wallpaper.png');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}
.login_card{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2,1fr);
  background: white;
  /* min-height: 80vh; */
  min-height: 80vh;
  width: 75%;
  box-shadow: 7px -7px 15px #0003;
  border-radius: 15px;
}
.login_card img{
  width: 300px;
}
.login_content{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.big_line{
  background: rgb(238, 238, 238);
  height: .4vh;
  position: relative;
  /* right: 16rem; */
  right: 15.7rem;
  top: 13.2rem;
  /* transform: rotate(90deg); */
  /* position: relative;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%,-50%); */
  transform: rotate(90deg);
}
.line{
  background: #7d39fc;
  height: 2px;
  width: 5vh;
  border-radius: 60px;
}
.login_content_header{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
.login_content_header h4{
   color: rgb(30, 29, 29);
   font-weight: bold;
}
.login_content form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.login_content form input{
  padding: 12px 5px;
  padding-left: 10px;
  width: 50vh;
  border-radius: 35px;
  border: 2px solid rgb(214, 212, 212);
  outline: none;
  /* margin-left: 5px; */
}
.login_content form button{
  padding: 12px 5px;
  width: 51.9vh;
  border-radius: 35px;
  /* border: 1px solid grey; */
  font-weight: bolder;
  border: none;
  color: aliceblue;
  background: #7d39fc;
  letter-spacing: .3rem;
}
.input_email{
  position: relative;
}
.input_email i{
  position: absolute;
  /* top: 12px; */
  top: 30%;
  right: 6%;
  /* right: 1rem; */
  color:rgb(214, 212, 212);
  z-index: 2;
}
.input_password{
  position: relative;
}
.input_password i{
  position: absolute;
  /* top: 12px; */
  top: 30%;
  right: 6%;
  /* right: 1rem; */
  color: rgb(214, 212, 212);
  
}
input::placeholder{
  padding-left: 5px;
  color:rgb(214, 212, 212) ;
}
.forgot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -2rem;
  font-weight: bolder;
}
.term{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: .8rem;
  position: relative;
  /* top: 2000%; */
  top: 25px;
  color: rgb(166, 165, 165);
}
@media(max-width:1250px){
.big_line{
  display: none;
}
}
@media(max-width:1100px) {
 
  .login_card{
    grid-template-columns: repeat(1,1fr);
  }
  .login_card img{
    width: 200px;
  }
  /* .login_content_header h4{
    text-align: center;
  }
  .login_content_header span{
    text-align: center;
  } */
  
  /* .login_content form{
    align-items: left;
  } */
  .login_card{
    gap: 1rem;
  }
  .login_content form{
    gap: .6rem;
  }
  .login_content form input{
    width: 40vh !important;
  }
  .login_content form button{
    width: 43.5vh !important;
  }
  .term{
    top: -20px;
  }
}
@media (max-width:550px){
  .login_content{
    gap: 2rem;
  }
  .login_card{
    gap: 1.5rem;
  }
  .login_content form{
    gap: .6rem;
  }
  .login_content form input{
    width: 30vh !important;
  }
  .login_content form button{
    width: 33.5vh !important;
  }
  .login_content_header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media (max-width:420px){
  .login_content form input{
    width: 25vh !important;
  }
  .login_content form button{
    width: 28.5vh !important;
  }
}
@media(max-width:340px){
  .login_content form input{
    width: 20vh !important;
    padding: 10px 4px !important;
  }
  .login_content form button{
    width: 23.5vh !important;
    padding: 10px 4px !important;
  }
  input::placeholder{
    content: normal;
    padding-left: 1px;
    font-size: .6rem;
  }
  .input_email i{
    background: white;
  }
}
@media (min-width:1500px){
  .big_line{
    display: none;
  }
}
@media(min-height:800px){
  .login_content form input{
    width: 40vh;
  }
  .login_content form button{
    width: 43.5vh;
  }
}
@media(min-height:920px){
  .login_content form input{
    width: 30vh;
  }
  .login_content form button{
    width: 33.5vh;
  }
}
@media (min-width:1440px){
  .login_card{
    width: 60%;
  }
}