*{
  margin: 0;
  padding: 0;
}
.App{
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  background: url('./Images/Pink\ Red\ Modern\ Night\ City\ Desktop\ Wallpaper.png');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}
